body {
    background: url('../images/workshops_main.jpg');
    background-size: cover;
    background-repeat: repeat;

}

.title {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding-top: 8%;
}

.img-link {
    transition: all .5s;
    opacity: 0.85;
}
.img-link:hover{
    transform: scale(1.1);
    opacity: 1;
}
.content {
    width: 100%;
    margin: auto;
    text-align: center;
}
img {
    height: 300px;
    padding: 2%;
    width: auto;
    display: inline;
}

.cnt {
    color: white;
    text-align: left; 
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.3em;
}

@media only screen and (max-width: 600px) {
    img {
        height: 250px;
        padding: 2%;
        width: auto;
        display: inline;
    }

    .cnt {
        margin-left: 4%;
        margin-right: 4%;
    }
    .img-link {
        opacity: 1;
    }
    .img-link:hover {
        transform: none;
    }
}
